* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
.navbar-brand,
.nav-link {
    font-family: 'Roboto Mono', monospace !important;
}

h1 {
    font-size: 5rem !important;
}

.active {
    text-decoration: underline !important;
}

/* glass card css */
.glass-card-container {

}

.glass-card {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 30px;
    background-color: rgba(255 255 255 / 15%);
    backdrop-filter: blur(15px);
    z-index: 10;
}

/* Orange Ball */
.orange-ball-1, .orange-ball-2, .orange-ball-3 {
    background: #EC7202;
    position: absolute;
    width: 150px !important;
    height: 150px;
    border-radius: 50%;
    z-index: 0;
}

.orange-ball-1 {
    left: 50px;
    top: 0;
}

.orange-ball-2 {
    right: 50px;
    bottom: 50%;
}

.orange-ball-3 {
    left: 100px;
    bottom: 0px;
}